extends layout

block content
  //- content
  .container
    //- main sub-nav
    .pure-menu.pure-menu-open.pure-menu-horizontal.header
      ul
        li.active
          a(href="#") Popular
        li
          a(href="#") Everyone
        li
          a(href="#") Debuts
    //- end main-subnav

    //- main content
    .content
      .pure-g
        ul.pure-thumbnails.pure-g
          li.pure-u-2-3
            a.pure-thumb.pure-thumb-bordered
              img(src="/assets/img/dev/sushi.jpg")
            h3 Pan-Seared Chilean Sea Bass Sushi
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris nibh, cursus sed ante a, tempus egestas odio. Donec adipiscing et neque vulputate aliquet. In lectus magna, ultrices id scelerisque id, fringilla in tortor. Proin sed odio tempus, ornare lorem vitae, fermentum orci. Sed non iaculis elit, quis vulputate ante. Mauris malesuada nulla fermentum odio porttitor, a adipiscing metus dignissim. Donec sit amet tempus leo, ac suscipit nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut viverra eros nec arcu malesuada adipiscing. Integer mi purus, gravida ut pellentesque sit amet, pulvinar eget arcu. Suspendisse euismod leo enim, sit amet lacinia velit congue sed. Cras ornare suscipit facilisis.
            ul.detail-thumbs
              li.pure-u-1-4
                a.pure-thumb.pure-thumb-bordered
                  img(src="/assets/img/dev/sushi2.jpg")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris nibh, cursus sed ante.
              li.pure-u-1-4
                a.pure-thumb.pure-thumb-bordered
                  img(src="/assets/img/dev/sushi3.jpg")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris nibh, cursus sed ante
              li.pure-u-1-4
                a.pure-thumb.pure-thumb-bordered
                  img(src="/assets/img/dev/sushi4.jpg")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris nibh, cursus sed ante

          li.pure-u-1-3
            ul.pure-thumbnails.pure-g.details-page
              .chef-tag
                li.pure-u-1-3
                  a.pure-thumb.pure-thumb-rounded(href="/profile.html")
                    img(src="/assets/img/avatars/beyonce.jpg")
                li.pure-u-2-3
                  .post-date Posted: Oct 04, 2013
                  .chef-info
                    span.chef-name 
                      a(href="/profile.html") B. Knowles
                    span.chef-status Exec. Chef, Destiny Sushi
                  .chef-contact
                    a(href="#")
                      i.icon-twitter
                    a(href="#")
                      i.icon-linkedin
                    a(href="#")
                      i.icon-globe
                    a(href="#")
                      i.icon-food
            ul.details-meta
              li
                i.icon-eye-open 
                .meta-count views 12,111
              li
                i.icon-heart
                .meta-count loves 1,213
              li
                i.icon-comments
                .meta-count comments 26
              li
                i.icon-folder-open
                .meta-count category
                ul
                  li 
                    a(href="#") Fish
                  li 
                    a(href="#") Raw Foods
              li
                i.icon-share
                .meta-count
                  a(href="#") share this
    //- end main content

    //- gallery-nav
    .gallery-nav
      a.pure-button.push-right(href="#")
        i.icon-arrow-left.pull-left
        span.label-left Chill

      a.pure-button(href="#")
        span.label-right Warm
        i.icon-arrow-right.pull-right 
    //- end gallery-nav

    //- sub-content
    .sub-content
      .pure-g
        .pure-u-1-3
          p Ads via Some Ad Network TBD
        .pure-u-1-3
          p Work for Food Professionals
        .pure-u-1-3
          img.sub-content-logo(src="/assets/img/logo.svg")
          span.intro What's cookin' ? flambé is where food lovers share.
    //- end sub-content
  //- end content