//- footer
.pure-menu.pure-menu-open.pure-menu-horizontal.footer
  .container
    .pure-g-r
      .pure-u-1-4
        p &copy; 2013 flambé. All rights.
      .pure-u-1-4
        p about flambé
      .pure-u-1-4
        p find talent
      .pure-u-1-4
        p flambé community
//- end footer