//- nav
.pure-menu.pure-menu-open.pure-menu-horizontal.top-nav
  .container
    .pure-menu.pure-menu-open.pure-menu-horizontal.top-nav
      a.pure-menu-heading(href="/")
        img.hero(src="/assets/img/logo.png")
      ul
        li.active
          a(href="#") servings
        li
          a(href="#") chefs
        li
          a(href="#") food groups
        li
          a(href="#") join us

      ul.nav-right
        li
          a(href="#") sign in
        li
          form.pure-form
            .input-append
              span.add-on
                input.pure-u-1-1(type="search", placeholder="search flambé")
              i.icon-search
//- end nav