//- nav
.pure-menu.pure-menu-open.pure-menu-horizontal.top-nav
  .container
    .pure-menu.pure-menu-open.pure-menu-horizontal.top-nav
      a.pure-menu-heading(href="/")
        img.hero(src="/assets/img/logo.png")
      ul
        li.active
          a(href="#") servings
        li
          a(href="#") chefs
        li
          a(href="#") food groups

      ul.nav-right
        li
          if everyauth.loggedIn
            li
              .user-welcome
                .user-links
                  a.greeting(href="/profile.html") Welcome, #{greetingName}
                  a.logout(href="/logout") 
                    i.icon-remove-sign.pull-left 
                    span.text logout
                  .clearfix    
                a(href="/profile.html")
                  img(src="#{avatar}", alt="#{displayName}")
              
          else
            a(href="/login") sign in
        li
          form.pure-form
            .input-append
              span.add-on
                input.pure-u-1-1(type="search", placeholder="search flambé")
              i.icon-search
//- end nav