!!! 5
html.no-js
  head
    meta(charset='utf-8')
    title flambé.
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(href='//www.google-analytics.com', rel='dns-prefetch')
    link(href='//ajax.googleapis.com', rel='dns-prefetch')
    link(href='assets/css/style.min.css', rel='stylesheet')
    script(src='assets/components/modernizr.js')
  body(style='')
    //- nav
    .pure-menu.pure-menu-open.pure-menu-horizontal.top-nav
      .container
        .pure-menu.pure-menu-open.pure-menu-horizontal.top-nav
          a.pure-menu-heading(href="/")
            img.hero(src="/assets/img/logo.png")
          ul
            li.active
              a(href="#") servings
            li
              a(href="#") chefs
            li
              a(href="#") food groups
            li
              a(href="#") join us

          ul.nav-right
            li
              a(href="#") sign in
            li
              form.pure-form
                .input-append
                  span.add-on
                    input.pure-u-1-1(type="search", placeholder="search flambé")
                  i.icon-search
    //- end nav

    //- content
    .container
      //- main sub-nav
      .pure-menu.pure-menu-open.pure-menu-horizontal.header
        ul
          li.active
            a(href="#") Popular
          li
            a(href="#") Everyone
          li
            a(href="#") Debuts
      //- end main-subnav

      //- main content
      .content
        ul.pure-thumbnails.pure-g-r
          li.pure-u-1-4
            a.pure-thumb.pure-thumb-bordered(href="/details.html")
              img.hero(src="/assets/img/dev/sushi.jpg", alt="Pan-Seared Sushi from B. Knowles")
            .caption.pure-thumb-bordered
              .post-meta
                ul.post-meta
                  li.pure-u-1-3
                    i.icon-eye-open
                    span.meta-count 12,111
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-heart 
                      span.meta-count 1,213
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-comments 
                      span.meta-count 28
              h3.caption-head
                a(href="/details.html") Pan-Seared Chilean Sea Bass Sushi
              .chef-tag
                ul.pure-thumbnails.pure-g
                  li.pure-u-1-4
                    a.pure-thumb.pure-thumb-rounded(href="/profile.html")
                      img(src="/assets/img/avatars/beyonce.jpg")
                  li.pure-u-3-4
                    .chef-info
                      span.chef-name 
                        a(href="/profile.html") B. Knowles
                      span.chef-status Exec. Chef, Destiny Sushi
                    .chef-contact
                      a(href="#")
                        i.icon-twitter
                      a(href="#")
                        i.icon-linkedin
                      a(href="#")
                        i.icon-globe
                      a(href="#")
                        i.icon-food

          li.pure-u-1-4
            a.pure-thumb.pure-thumb-bordered.gallery
              img.hero(src="/assets/img/dev/cupcakes.jpg", alt="Lil' Big Man's Birthday Cupcake Madness")
            .caption.pure-thumb-bordered
              .post-meta
                ul.post-meta
                  li.pure-u-1-3
                    i.icon-eye-open
                    span.meta-count 11,102
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-heart 
                      span.meta-count 1,157
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-comments 
                      span.meta-count 44
              h3.caption-head 
                a(href="#") Birthday Cupcake Madness
              .chef-tag
                ul.pure-thumbnails.pure-g
                  li.pure-u-1-4
                    a.pure-thumb.pure-thumb-rounded(href="#")
                      img(src="/assets/img/avatars/kevin.jpg", alt="Lil Big Man")
                  li.pure-u-3-4
                    .chef-info
                      span.chef-name 
                        a(href="#") Lil' Big Man
                      span.chef-status Pastry Chef
                    .chef-contact
                      a(href="#")
                        i.icon-twitter
                      a(href="#")
                        i.icon-linkedin
                      a(href="#")
                        i.icon-globe
                      a(href="#")
                        i.icon-food

          li.pure-u-1-4
            a.pure-thumb.pure-thumb-bordered.gallery
              img.hero(src="/assets/img/dev/steak.jpg", alt="Ellen D's Aged Bone-In Sirloin")
            .caption.pure-thumb-bordered
              .post-meta
                ul.post-meta
                  li.pure-u-1-3
                    i.icon-eye-open
                    span.meta-count 10,903
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-heart 
                      span.meta-count 1,075
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-comments 
                      span.meta-count 191
              h3.caption-head 
                a(href="#") Aged Bone-In Sirloin
              .chef-tag
                ul.pure-thumbnails.pure-g
                  li.pure-u-1-4
                    a.pure-thumb.pure-thumb-rounded(href="#")
                      img(src="/assets/img/avatars/ellen.jpg", alt="Ellen D.")
                  li.pure-u-3-4
                    .chef-info
                      span.chef-name 
                        a(href="#") Ellen D.
                      span.chef-status Kitchen Magician
                    .chef-contact
                      a(href="#")
                        i.icon-twitter
                      a(href="#")
                        i.icon-linkedin
                      a(href="#")
                        i.icon-globe
                      a(href="#")
                        i.icon-food

          li.pure-u-1-4
            a.pure-thumb.pure-thumb-bordered.gallery
              img.hero(src="/assets/img/dev/paella.jpg", alt="Justin T's Ultimate Paella Valencia in Empanda Bowl")
            .caption.pure-thumb-bordered
              .post-meta
                ul.post-meta
                  li.pure-u-1-3
                    i.icon-eye-open
                    span.meta-count 9,876
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-heart 
                      span.meta-count 988
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-comments 
                      span.meta-count 22
              h3.caption-head 
                a(href="#") Ultimate Paella Valencia in Empanda Bowl
              .chef-tag
                ul.pure-thumbnails.pure-g
                  li.pure-u-1-4
                    a.pure-thumb.pure-thumb-rounded(href="#")
                      img(src="/assets/img/avatars/justin.jpg", alt="Justin T.")
                  li.pure-u-3-4
                    .chef-info
                      span.chef-name 
                        a(href="#") Justin T.
                      span.chef-status Soup &amp; Thai Chef
                    .chef-contact
                      a(href="#")
                        i.icon-twitter
                      a(href="#")
                        i.icon-linkedin
                      a(href="#")
                        i.icon-globe
                      a(href="#")
                        i.icon-food

        ul.pure-thumbnails.pure-g-r
          li.pure-u-1-4
            a.pure-thumb.pure-thumb-bordered.gallery
              img.hero(src="/assets/img/dev/redvelvet.jpg", alt="Robin T's Red Velvet Cake")
            .caption.pure-thumb-bordered
              .post-meta
                ul.post-meta
                  li.pure-u-1-3
                    i.icon-eye-open
                    span.meta-count 8,7654
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-heart 
                      span.meta-count 876
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-comments 
                      span.meta-count 29
              h3.caption-head 
                a(href="#") Red Velvet Cake
              .chef-tag
                ul.pure-thumbnails.pure-g
                  li.pure-u-1-4
                    a.pure-thumb.pure-thumb-rounded(href="#")
                      img(src="/assets/img/avatars/robin.jpg", alt="Robin T.")
                  li.pure-u-3-4
                    .chef-info
                      span.chef-name 
                        a(href="#") Robin T.
                      span.chef-status Owner, Blurred Pastries
                    .chef-contact
                      a(href="#")
                        i.icon-twitter
                      a(href="#")
                        i.icon-linkedin
                      a(href="#")
                        i.icon-globe
                      a(href="#")
                        i.icon-food

          li.pure-u-1-4
            a.pure-thumb.pure-thumb-bordered.gallery
              img.hero(src="/assets/img/dev/burgers.jpg", alt="H. Klum's Weekend Sliders")
            .caption.pure-thumb-bordered
              .post-meta
                ul.post-meta
                  li.pure-u-1-3
                    i.icon-eye-open
                    span.meta-count 7,662
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-heart 
                      span.meta-count 703
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-comments 
                      span.meta-count 32
              h3.caption-head 
                a(href="#") Weekend Sliders
              .chef-tag
                ul.pure-thumbnails.pure-g
                  li.pure-u-1-4
                    a.pure-thumb.pure-thumb-rounded(href="#")
                      img(src="/assets/img/avatars/heidi.jpg", alt="H. Klum")
                  li.pure-u-3-4
                    .chef-info
                      span.chef-name 
                        a(href="#") H. Klum
                      span.chef-status Model, Mom, Cook
                    .chef-contact
                      a(href="#")
                        i.icon-twitter
                      a(href="#")
                        i.icon-linkedin
                      a(href="#")
                        i.icon-globe
                      a(href="#")
                        i.icon-food

          li.pure-u-1-4
            a.pure-thumb.pure-thumb-bordered.gallery
              img.hero(src="/assets/img/dev/kitchen.jpg", alt="Soccer Man's Finally, the Kitchen of my dreams is complete!")
            .caption.pure-thumb-bordered
              .post-meta
                ul.post-meta
                  li.pure-u-1-3
                    i.icon-eye-open
                    span.meta-count 6,323
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-heart 
                      span.meta-count 612
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-comments 
                      span.meta-count 61
              h3.caption-head 
                a(href="#") Finally, the kitchen of my dreams is complete!
              .chef-tag
                ul.pure-thumbnails.pure-g
                  li.pure-u-1-4
                    a.pure-thumb.pure-thumb-rounded(href="#")
                      img(src="/assets/img/avatars/david.jpg", alt="Soccer Man")
                  li.pure-u-3-4
                    .chef-info
                      span.chef-name 
                        a(href="#") Soccer Man
                      span.chef-status Bending it
                    .chef-contact
                      a(href="#")
                        i.icon-twitter
                      a(href="#")
                        i.icon-linkedin
                      a(href="#")
                        i.icon-globe
                      a(href="#")
                        i.icon-food

          li.pure-u-1-4
            a.pure-thumb.pure-thumb-bordered.gallery
              img.hero(src="/assets/img/dev/pasta.jpg", alt="Robyn Fenty's Brown Buttered Lemon Pasta")
            .caption.pure-thumb-bordered
              .post-meta
                ul.post-meta
                  li.pure-u-1-3
                    i.icon-eye-open
                    span.meta-count 5,125
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-heart 
                      span.meta-count 530
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-comments 
                      span.meta-count 16
              h3.caption-head 
                a(href="#") Brown Buttered Lemon Pasta
              .chef-tag
                ul.pure-thumbnails.pure-g
                  li.pure-u-1-4
                    a.pure-thumb.pure-thumb-rounded(href="#")
                      img(src="/assets/img/avatars/rihana.jpg", alt="Robyn Fenty")
                  li.pure-u-3-4
                    .chef-info
                      span.chef-name 
                        a(href="#") Robyn Fenty
                      span.chef-status Kitchen Bad Gyal
                    .chef-contact
                      a(href="#")
                        i.icon-twitter
                      a(href="#")
                        i.icon-linkedin
                      a(href="#")
                        i.icon-globe
                      a(href="#")
                        i.icon-food

        ul.pure-thumbnails.pure-g-r
          li.pure-u-1-4
            a.pure-thumb.pure-thumb-bordered.gallery
              img.hero(src="/assets/img/dev/wedding.jpg", alt="A.K. Thompson's Very Special Cake for Their Very Special Day")
            .caption.pure-thumb-bordered
              .post-meta
                ul.post-meta
                  li.pure-u-1-3
                    i.icon-eye-open
                    span.meta-count 4,433
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-heart 
                      span.meta-count 421
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-comments 
                      span.meta-count 30
              h3.caption-head 
                a(href="#") A Very Special Cake for Their Very Special Day
              .chef-tag
                ul.pure-thumbnails.pure-g
                  li.pure-u-1-4
                    a.pure-thumb.pure-thumb-rounded(href="#")
                      img(src="/assets/img/avatars/questlove.jpg", alt="A.K. Thompson")
                  li.pure-u-3-4
                    .chef-info
                      span.chef-name 
                        a(href="#") A. Thompson
                      span.chef-status Roots Wedding Cakes
                    .chef-contact
                      a(href="#")
                        i.icon-twitter
                      a(href="#")
                        i.icon-linkedin
                      a(href="#")
                        i.icon-globe
                      a(href="#")
                        i.icon-food

          li.pure-u-1-4
            a.pure-thumb.pure-thumb-bordered.gallery
              img.hero(src="/assets/img/dev/sandwhich.jpg", alt="Late Nite Jim's Teriyaki Chicken Sub Sandwich")
            .caption.pure-thumb-bordered
              .post-meta
                ul.post-meta
                  li.pure-u-1-3
                    i.icon-eye-open
                    span.meta-count 3,544
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-heart 
                      span.meta-count 356
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-comments 
                      span.meta-count 13
              h3.caption-head 
                a(href="#") Teriyaki Chicken Sub Sandwich
              .chef-tag
                ul.pure-thumbnails.pure-g
                  li.pure-u-1-4
                    a.pure-thumb.pure-thumb-rounded(href="#")
                      img(src="/assets/img/avatars/jimmy.jpg", alt="Late Nite Jim")
                  li.pure-u-3-4
                    .chef-info
                      span.chef-name 
                        a(href="#") Late Nite Jim
                      span.chef-status King of Sandwhiches
                    .chef-contact
                      a(href="#")
                        i.icon-twitter
                      a(href="#")
                        i.icon-linkedin
                      a(href="#")
                        i.icon-globe
                      a(href="#")
                        i.icon-food

          li.pure-u-1-4
            a.pure-thumb.pure-thumb-bordered.gallery
              img.hero(src="/assets/img/dev/crepes.jpg", alt="King James' Breakfast Crepés con Cilantro")
            .caption.pure-thumb-bordered
              .post-meta
                ul.post-meta
                  li.pure-u-1-3
                    i.icon-eye-open
                    span.meta-count 2,356
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-heart 
                      span.meta-count 284
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-comments 
                      span.meta-count 11
              h3.caption-head 
                a(href="#") Breakfast Crepés con Cilantro
              .chef-tag
                ul.pure-thumbnails.pure-g
                  li.pure-u-1-4
                    a.pure-thumb.pure-thumb-rounded(href="#")
                      img(src="/assets/img/avatars/lebron.jpg", alt="King James")
                  li.pure-u-3-4
                    .chef-info
                      span.chef-name 
                        a(href="#") King James
                      span.chef-status Callente's Miami
                    .chef-contact
                      a(href="#")
                        i.icon-twitter
                      a(href="#")
                        i.icon-linkedin
                      a(href="#")
                        i.icon-globe
                      a(href="#")
                        i.icon-food
                
          li.pure-u-1-4
            a.pure-thumb.pure-thumb-bordered.gallery
              img.hero(src="/assets/img/dev/ricepeas.jpg", alt="Yeezus West's Jamaican Rice &amp; Peas")
            .caption.pure-thumb-bordered
              .post-meta
                ul.post-meta
                  li.pure-u-1-3
                    i.icon-eye-open
                    span.meta-count 1,125
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-heart 
                      span.meta-count 118
                  li.pure-u-1-3
                    a(href="#")
                      i.icon-comments 
                      span.meta-count 06
              h3.caption-head 
                a(href="#") Jamaican Rice &amp; Peas
              .chef-tag
                ul.pure-thumbnails.pure-g
                  li.pure-u-1-4
                    a.pure-thumb.pure-thumb-rounded(href="#")
                      img(src="/assets/img/avatars/kanye.jpg", alt="Yeezus West")
                  li.pure-u-3-4
                    .chef-info
                      span.chef-name 
                        a(href="#") Yeezus West
                      span.chef-status God of All Food
                    .chef-contact
                      a(href="#")
                        i.icon-twitter
                      a(href="#")
                        i.icon-linkedin
                      a(href="#")
                        i.icon-globe
                      a(href="#")
                        i.icon-food
      //- end main-content

      //- gallery-nav
      .gallery-nav
        a.pure-button.push-right(href="#")
          i.icon-arrow-left.pull-left
          span.label-left Chill

        a.pure-button(href="#")
          span.label-right Warm
          i.icon-arrow-right.pull-right 
      //- end gallery-nav

      //- sub-content
      .sub-content
        .pure-g-r
          .pure-u-1-3
            p Ads via Some Ad Network TBD
          .pure-u-1-3
            p Work for Food Professionals
          .pure-u-1-3
            img.sub-content-logo(src="/assets/img/logo.svg")
            span.intro What's cookin' ? flambé is where food lovers share.
      //- end sub-content
    //- end content

    //- footer
    .pure-menu.pure-menu-open.pure-menu-horizontal.footer
      .container
        .pure-g-r
          .pure-u-1-4
            p &copy; 2013 flambé. All rights.
          .pure-u-1-4
            p about flambé
          .pure-u-1-4
            p find talent
          .pure-u-1-4
            p flambé community
    //- end footer
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    
    script.
      window.jQuery || document.write('<script src="assets/components/jquery.js"><\\/script>');
    
    // build:js scripts/vendor.js
    // bower:js
    script(src='assets/components/jquery.js')
    // endbower

    script(src='assets/js/scripts.min.js')
      
    script.
      (function(f,l,a,m,b,e,_){f['GoogleAnalyticsObject']=b;f[b]=f[b]||function(){
      (f[b].q=f[b].q||[]).push(arguments)},f[b].l=1*new Date();e=l.createElement(a),
      _=l.getElementsByTagName(a)[0];e.async=1;e.src=m;_.parentNode.insertBefore(e,_)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44742315-1', 'blacktechies.org');
      ga('send', 'pageview');

    // build:js scripts/main.js
    script(data-main='assets/js/main', src='assets/components/requirejs.js')
    // endbuild